[submodule "plugins/plugin_ajaxselect"]
	path = plugins/plugin_ajaxselect
	url = git@github.com:monotasker/plugin_ajaxselect.git
[submodule "plugins/plugin_widgets"]
	path = plugins/plugin_widgets
	url = git@github.com:monotasker/plugin_widgets.git
[submodule "plugins/plugin_listandedit"]
	path = plugins/plugin_listandedit
	url = git@github.com:monotasker/plugin_listandedit.git
[submodule "plugins/plugin_utils"]
	path = plugins/plugin_utils
	url = git@github.com:monotasker/plugin_utils.git
