/* specific overrides for ocp site */
div#textwrapper {
  position: absolute;
}
div#textwrapper #versionadder {
  float: right;
  position: relative;
  /*display:block;*/

  /*font-size: 2em;*/

  /*top: -20px;*/

}
div#textwrapper .ref_nav {
  background-color: #ddd;
  /*height: 3em;*/

  /*line-height: 3em;*/

  padding: 0.5em;
}
div#textwrapper .ref_nav input[type=text] {
  width: 4em;
}
div#textwrapper div.versionwindow {
  position: relative;
  float: left;
  padding: 0;
}
div#textwrapper div.versionwindow .version_selector {
  background-color: #efefef;
  padding: 0.5em 1em;
}
div#textwrapper div.versionwindow .version_selector a.version-closer {
  font-size: 1.5em;
  color: #aaa;
  line-height: 1.75em;
  height: 1.75em;
  display: inline-block;
}
div#textwrapper div.versionwindow .version_selector a.version-closer:hover {
  color: red;
}
div#textwrapper div.versionwindow .textframe {
  color: #666;
  overflow: auto;
  padding: 1em;
}
div#textwrapper div.versionwindow .textframe .refmarker_0 {
  color: #b96b6b;
  font-size: 1.3em;
}
div#textwrapper div.versionwindow .textframe .refmarker_1 {
  color: #ecc93a;
  font-size: 1em;
}
