/* specific overrides for ocp site */

@font-face {
  font-family: 'SBL Greek';
  src: url('../fonts/sbl_grk-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/sbl_grk-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sbl_grk-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sbl_grk-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/sbl_grk-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sbl_grk-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'SBL Hebrew';
  src: url('../fonts/sbl_hbrw-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/sbl_hbrw-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/sbl_hbrw-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/sbl_hbrw-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/sbl_hbrw-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/sbl_hbrw-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Estrangelo';
  src: url('../fonts/estre-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/estre-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/estre-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/estre-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/estre-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/estre-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body                           {font-family: 'Open Sans', sans-serif;
    .fa-spinner                {font-size: 2em;
                                color: #666;
    }
}

.navbar                        {background-color: #615F55;
    .navbar-header                 {background-color: #615F55;
        .navbar-brand              {color: white;
                                    text-transform: capitalize;
        }
        small                      {display: none;
        }
    }
    .navbar-inverse .navbar-nav > li > a           {color: #E4DFC8;
    }
}

div#textwrapper                {position:absolute;
    #versionadder              {float:right;
                                position:relative;
                                /*display:block;*/
                                /*font-size: 2em;*/
                                /*top: -20px;*/
    }
    .ref_nav                   {background-color: #E4DFC8; //#ddd;
                                /*height: 3em;*/
                                /*line-height: 3em;*/
                                padding: 0.5em;
        input[type=text]       {//line-height: 2em;
                                width: 4em;
        }
    }
    div.versionwindow          {position:relative;
                                float:left;
                                padding: 0;

        .version_selector      {background-color: #F5F3EA; // #efefef;
                                padding: 0.5em 1em;
            a.version-closer   {font-size: 1.5em;
                                color: #aaa;
                                line-height:1.75em;
                                height:1.75em;
                                display:inline-block;
                &:hover        {color: red;
                }
            }
        }
        .textframe             {color: #333;
                                overflow: auto;
                                padding: 1em;
            .Greek             {font-family: "SBL Greek";
                                font-size: 1.2em;
            }
            .Hebrew            {font-family: "SBL Hebrew";
                                font-size: 1.2em;
            }
            .Aramaic           {font-family: "SBL Hebrew";
                                font-size: 1.2em;
            }
            .Ethiopic          {font-family: "Estrangelo";
                                font-size: 1em;
            }
            .refmarker_0       {color: rgb(185, 107, 107);
                                font-size: 1.3em;
            }
            .refmarker_1       {color: rgb(236, 201, 58);
                                font-size: 1em;
            }
        }
        .apparatusframe        {border-top: 1px solid #ddd;
            p                  {padding: 0 1em;
                                color: #aaa;
            }
            td.mss             {max-width: 200px;
                                width: 200px;
            }
        }
    }
}

footer                         {display:none;
}
