/* specific overrides for ocp site */
@font-face {
  font-family: 'SBL Greek';
  src: url('../fonts/sbl_grk-webfont.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/sbl_grk-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/sbl_grk-webfont.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/sbl_grk-webfont.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/sbl_grk-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/sbl_grk-webfont.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'SBL Hebrew';
  src: url('../fonts/sbl_hbrw-webfont.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/sbl_hbrw-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/sbl_hbrw-webfont.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/sbl_hbrw-webfont.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/sbl_hbrw-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/sbl_hbrw-webfont.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Estrangelo';
  src: url('../fonts/estre-webfont.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/estre-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/estre-webfont.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/estre-webfont.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/estre-webfont.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/estre-webfont.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Abyssinica SIL';
  src: url('../fonts/hinted-AbyssinicaSIL.eot');
  src: local('Abyssinica SIL'), local('AbyssinicaSIL'), url('../fonts/hinted-AbyssinicaSIL.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-AbyssinicaSIL.woff2') format('woff2'), url('../fonts/hinted-AbyssinicaSIL.woff') format('woff'), url('../fonts/hinted-AbyssinicaSIL.ttf') format('truetype'), url('../fonts/hinted-AbyssinicaSIL.svg#AbyssinicaSIL') format('svg');
}
body {
  font-family: 'Open Sans', sans-serif;
  direction: ltr;
  /*.Latin             {font-family:*/
}
body .fa-circle-o-notch {
  font-size: 8em;
  color: #aaa;
  position: relative;
  left: 50%;
  margin: 1em 0 0 -0.5em;
}
body .refmarker,
body .placeholder {
  font-family: 'Open Sans', sans-serif;
}
body .Greek {
  font-family: "SBL Greek";
  font-size: 1.2em;
  direction: ltr;
}
body .Hebrew {
  font-family: "SBL Hebrew";
  font-size: 1.2em;
  direction: rtl;
}
body .Aramaic {
  font-family: "SBL Hebrew";
  font-size: 1.2em;
  direction: rtl;
}
body .Syriac {
  font-family: "Estrangelo";
  font-size: 1.5em;
  direction: rtl;
}
body .Ethiopic {
  font-family: "Abyssinica SIL";
  font-size: 1.3em;
  direction: ltr;
}
body h1 {
  color: #A9A06A;
}
body h2 {
  color: #96bc44;
}
body h3 {
  color: #A9A06A;
}
body h4 {
  text-transform: uppercase;
  color: #009fee;
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  /*font-weight: bold;*/
}
body table.table {
  background-color: #FCFBF7;
  border-bottom: 1px solid #e3e1d3;
}
body table.table tr td {
  border-top: 1px solid #e3e1d3;
}
body p {
  color: #333;
  text-align: justify;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
body ul.bibliography {
  list-style: outside none none;
}
body ul.bibliography li {
  text-indent: -2em;
  margin-bottom: 0.5em;
}
body ul.bibliography li.annotation {
  text-indent: 0;
  color: #aaa;
}
.navbar-inverse {
  background-color: #615F55;
}
.navbar-inverse .navbar-header {
  background-color: #615F55;
}
.navbar-inverse .navbar-header .navbar-brand {
  color: #fff;
  text-transform: capitalize;
}
.navbar-inverse .navbar-header small {
  display: none;
}
.navbar-inverse .navbar-nav li > a {
  color: #E4DFC8;
}
.navbar-inverse .navbar-nav li > a:focus,
.navbar-inverse .navbar-nav li > a:hover {
  background-color: #4B4A43;
}
.navbar-inverse .navbar-nav .open a,
.navbar-inverse .navbar-nav .open a:focus,
.navbar-inverse .navbar-nav .open a:hover {
  background-color: #4B4A43;
}
#right_sidebar {
  height: 800px;
}
#right_sidebar ul {
  list-style: outside none none;
  padding-left: 1em;
  border-left: 1em solid transparent;
}
#right_sidebar ul li {
  color: #615F55;
}
#right_sidebar .sidebar-wrapper {
  background-color: #FCFBF7;
  padding: 1em 0;
  width: 100%;
  height: 100%;
}
#right_sidebar .sidebar-wrapper .doc-version,
#right_sidebar .sidebar-wrapper .read-text {
  display: block;
  width: 100%;
  color: #fff;
  line-height: 2em;
  padding-left: 1em;
}
#right_sidebar .sidebar-wrapper .doc-version {
  background-color: #96bc44;
}
#right_sidebar .sidebar-wrapper .read-text {
  background-color: #006699;
}
#right_sidebar .sidebar-wrapper .read-text:hover,
#right_sidebar .sidebar-wrapper .read-text:active {
  background-color: #007DBB;
  text-decoration: none;
}
#right_sidebar .sidebar-wrapper h4 {
  margin-left: 1em;
  color: #A9A06A;
}
#right_sidebar .sidebar-wrapper #sidebar-menu {
  padding-left: 0;
  margin-left: -1em;
}
#right_sidebar .sidebar-wrapper #sidebar-menu li {
  line-height: 1.5em;
}
#right_sidebar .sidebar-wrapper #sidebar-menu li a {
  color: #615F55;
  border-left: 2px solid transparent;
  padding: 0 0 0 2em;
}
#right_sidebar .sidebar-wrapper #sidebar-menu li a:hover,
#right_sidebar .sidebar-wrapper #sidebar-menu li a:active {
  border-left: 2px solid #A9A06A;
  background-color: transparent;
  border-radius: 0;
}
#right_sidebar .sidebar-wrapper p {
  padding-left: 1.2em;
}
.docs_list ul {
  list-style: outside none none;
  padding-left: 1em;
}
.docs_list ul .doc-link-span {
  color: #A9A06A;
}
.docs_list ul .doc-link-span a {
  color: #A9A06A;
}
div#textwrapper {
  position: absolute;
}
div#textwrapper #versionadder {
  float: right;
  position: relative;
  /*display:block;*/
  /*font-size: 2em;*/
  /*top: -20px;*/
}
div#textwrapper .ref_nav {
  background-color: #E4DFC8;
  /*height: 3em;*/
  /*line-height: 3em;*/
  padding: 0.5em;
}
div#textwrapper .ref_nav input[type=text] {
  width: 4em;
}
div#textwrapper .smaller-button span {
  font-size: 0.6em;
}
div#textwrapper div.versionwindow {
  position: relative;
  float: left;
  padding: 0;
}
div#textwrapper div.versionwindow .version_selector {
  background-color: #F5F3EA;
  padding: 0.5em 1em;
}
div#textwrapper div.versionwindow .version_selector a.version-closer {
  font-size: 1.5em;
  color: #aaa;
  line-height: 1.75em;
  height: 1.75em;
  display: inline-block;
}
div#textwrapper div.versionwindow .version_selector a.version-closer:hover {
  color: red;
}
div#textwrapper div.versionwindow .textframe {
  color: #333;
  overflow: auto;
  padding: 1em;
}
div#textwrapper div.versionwindow .textframe .refmarker_0 {
  color: #b96b6b;
  font-size: 1.3em;
}
div#textwrapper div.versionwindow .textframe .refmarker_1 {
  color: #ecc93a;
  font-size: 1em;
  font-weight: bold;
}
div#textwrapper div.versionwindow .textframe .refmarker_2 {
  color: #96bc44;
  font-size: 1em;
  font-weight: bold;
}
div#textwrapper div.versionwindow .textframe .refmarker_3 {
  color: #007DBB;
  font-size: 1em;
  font-weight: bold;
}
div#textwrapper div.versionwindow .apparatusframe {
  border-top: 1px solid #ddd;
}
div#textwrapper div.versionwindow .apparatusframe p {
  padding: 0 1em;
  color: #aaa;
}
div#textwrapper div.versionwindow .apparatusframe td.mss {
  max-width: 200px;
  width: 200px;
}
footer {
  display: none;
}
