<!DOCTYPE html>
<html lang="{{=T.accepted_language or 'en'}}" class="no-js"><!-- no-js need it for modernzr -->
  <head>
    <!-- adapted by Ian W. Scott from the default layout.html file included in the web2py scaffolding app -->
    <meta charset="utf-8" />
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!--[if IE]><![endif]-->
    <!-- Always force latest IE rendering engine & Chrome Frame; Remove if you use .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=response.title}}" />
    <!-- http://google.com/webmasters -->
    <meta name="google-site-verification" content="" />
    <!--  Mobile Viewport Fix (j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="{{=URL('static', 'plugin_framework/theme.less')}}">

    <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}">
    <!-- less-enabled mobile browsers like Opera Mini -->
    <link rel="stylesheet" media="handheld" href="{{=URL('static','css/handheld.css')}}">

    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-1.7.min.js')}}"></script>
    <script src="{{=URL('static','plugin_framework/yepnope.1.0.2-min.js')}}"></script>

    <!--  require CSS and JS files for this page (read info in base.css) -->
    {{response.files.append(URL('static','plugin_framework/normalize.css'))}}
    {{response.files.append(URL('static','css/superfish.css'))}}
    {{response.files.append(URL('static','js/superfish.js'))}}
    {{response.files.append(URL('static', 'plugin_framework/jquery-ui/jquery-ui-1.8.16.custom.min.js'))}}
    {{response.files.append(URL('static', 'plugin_framework/jquery-ui/theme/jquery-ui-1.8.16.custom.css'))}}
    <!-- include web2py specific js code (jquery, calendar, form stuff) -->    
    {{response.files.append(URL('static','plugin_framework/less-1.1.5.min.js'))}}
    {{include 'web2py_ajax.html'}}

    <!--sidebar settings-->
    {{left_sidebar_enabled = globals().get('left_sidebar_enabled',False)}}
    {{right_sidebar_enabled = globals().get('right_sidebar_enabled',False)}}

    {{if left_sidebar_enabled and right_sidebar_enabled:}}
        {{width_content='63%'}}
    {{elif left_sidebar_enabled != right_sidebar_enabled:}}
        {{width_content='740px'}}
    {{else:}}
        {{width_content='100%'}}
    {{pass}}

    {{if left_sidebar_enabled:}}
        {{left_sidebar_style = 'style="display: block;"'}}
    {{else:}}
        {{left_sidebar_style = 'style="display: none;"'}}
    {{pass}}

    {{if right_sidebar_enabled:}}
        {{right_sidebar_style = 'style="display: block;"'}}
    {{else:}}
        {{right_sidebar_style = 'style="display: none;"'}}
    {{pass}}
    {{style_content = 'style="width: %s"' % width_content}}

  </head>

  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

    <div class="flash">{{=response.flash or ''}}</div> <!-- notification div -->
    <div id='modal_frame'></div>

    <header>

        {{block header}} <!-- this is default header -->

            <nav>
              {{block statusbar}} <!-- this is default statusbar -->
              {{#------ superfish menu ------}}
              {{=MENU(response.menu,_class='sf-menu')}}
              <script type="text/javascript">
                jQuery(document).ready(function(){
                jQuery('ul.sf-menu').superfish();});
              </script>
              <div class="clear"></div><!-- Clear the divs -->
              {{end}}
            </nav>

            {{try:}}
                {{='auth' in globals() and auth.navbar(separators=('',' ',''))}}
            {{except:}}
                {{pass}}
            {{pass}}

            <h1 id="appname">{{=A(response.title.capitalize(), _href=URL('default', 'index'))}}</h1>

        {{end}}

    </header>

    <div id="page" class="{{=request.controller}} {{=request.function}} {{for a in request.args:}}{{=a}}{{pass}}">

        <!-- left_sidebar -->
        {{if left_sidebar_enabled:}}
            <aside id="left_sidebar" {{=XML(left_sidebar_style)}} >
                {{block left_sidebar}}
                    Content Left Sidebar
                {{end}}
            </aside>
        {{pass}}

        <!-- right_sidebar -->
        {{if right_sidebar_enabled:}}
            <aside id="right_sidebar" {{=XML(right_sidebar_style)}} >
                {{block right_sidebar}}
                    Content Right Sidebar
                {{end}}
            </aside>
        {{pass}}

        <!-- content of views-->
        {{include}}

        <div class="clear"></div><!-- Clear the divs -->

    </div><!--page-->

    <footer>
        {{block footer}} <!-- this is default footer -->
            <a href="http://www.web2py.com/" >
                <img id="poweredby" alt="Powered by web2py, the full-stack Python framework for rapid web development." src="{{=URL('static','images/poweredby.png')}}"/>
            </a>
            <span class="copyright">{{=response.meta.copyright}}</span>
            <div class="clear"></div><!-- Clear the divs -->
        {{end}}
    </footer>

    {{=BEAUTIFY(session)}}

    {{if session.debug:}}
        {{=DIV(session.debug, _class="debug")}}
    {{pass}}

    <!--[if lt IE 7 ]>
    <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
    <![endif]-->

    <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet
     change the UA-XXXXX-X to be your site's ID -->
    <!--
       <script>
         var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
         (function(d, t) {
         var g = d.createElement(t),
         s = d.getElementsByTagName(t)[0];
         g.async = true;
         g.src = '//www.google-analytics.com/ga.js';
         s.parentNode.insertBefore(g, s);
         })(document, 'script');
       </script>
       -->
  </body>
</html>
